name: "Dataflow Deployment Pipeline"

on:
  push:
    branches:
      - main 
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      PROJECT_ID: "carbon-hulling-480701-e8"
      REGION: "us-central1"
      REPO_NAME: "dataflow-repo"
      IMAGE_NAME: "streaming-beam-job"
    steps:
      - name: "Checkout Code"
        uses: actions/checkout@v3

      - name: "List files for debug"
        run: ls -R
        
      - name: "Authenticate to Google Cloud"
        uses: google-github-actions/auth@v1
        with:
          credentials_json: "${{ secrets.GCP_SA_KEY }}"

      - name: "Set up Cloud SDK"
        uses: google-github-actions/setup-gcloud@v1

      - name: "Build and Push Image via Cloud Build"
        id: cloud-build
        run: |
          TAG=$(git rev-parse --short HEAD)
          IMAGE_URL="${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:$TAG"
          
          # Forçamos a indicação do arquivo caso ele seja minúsculo ou tenha outro nome
          gcloud builds submit --tag $IMAGE_URL .
          
          echo "IMAGE_TAG=$TAG" >> $GITHUB_ENV
          echo "IMAGE_URL=$IMAGE_URL" >> $GITHUB_ENV


      - name: "Setup Terraform"
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0
      - name: "Terraform Init & Apply"
        working-directory: ./terraform 
        run: |
          terraform init
          terraform apply -auto-approve \
            -var="project_id=${{ env.PROJECT_ID }}" \
            -var="region=${{ env.REGION }}" \
            -var="image_tag=${{ env.IMAGE_TAG }}" \
            -var="container_spec_gcs_path=gs://test-bucket-xlp67/templates/job-${{ env.IMAGE_TAG }}.json"