name: "Dataflow Deployment Pipeline"

on:
  push:
    branches:
      - main 
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      REGION: "us-central1"
      REPO_NAME: "dataflow-repo"
      IMAGE_NAME: "streaming-beam-job"
    steps:
      - name: "Checkout Code"
        uses: actions/checkout@v3

      - name: "Authenticate to Google Cloud"
        uses: google-github-actions/auth@v1
        with:
          credentials_json: "${{ secrets.GCP_SA_KEY }}"

      - name: "Set up Cloud SDK"
        uses: google-github-actions/setup-gcloud@v1

      - name: "Build and Push Image via Cloud Build"
        id: cloud-build
        run: |
          TAG=$(git rev-parse --short HEAD)
          IMAGE_URL="${{ env.REGION }}-docker.pkg.dev/${{ vars.GOOGLE_PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:$TAG"
          echo "Building image in project: ${{ vars.GOOGLE_PROJECT_ID }}"
          echo "Full Image URL: $IMAGE_URL"
          gcloud builds submit --tag "$IMAGE_URL" .
          echo "IMAGE_TAG=$TAG" >> $GITHUB_ENV

      - name: "Setup Terraform"
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0

      - name: "Terraform Init"
        working-directory: ./terraform 
        run: |
          terraform init

      - name: "Terraform Validate"
        working-directory: ./terraform 
        run: |
          terraform validate

      - name: "Terraform Apply"
        working-directory: ./terraform 
        run: |
          terraform apply -auto-approve \
          -var="image_tag=${{ env.IMAGE_TAG }}" 
      
      - name: "Terraform Destroy on Failure"
        if: failure() && steps.apply.outcome == 'failure'
        working-directory: ./terraform 
        run: |
          terraform destroy -auto-approve \
          -var="image_tag=${{ env.IMAGE_TAG }}"

      - name: "Create and Save Flex Template Spec"
        run: |
          TEMPLATE_PATH="gs://${{ vars.GOOGLE_PROJECT_ID }}/templates/job-${{ env.IMAGE_TAG }}.json"
          gcloud dataflow flex-template build $TEMPLATE_PATH \
            --image="${{ env.REGION }}-docker.pkg.dev/${{ vars.GOOGLE_PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}" \
            --sdk-language="PYTHON"
          echo "TEMPLATE_GCS_PATH=$TEMPLATE_PATH" >> $GITHUB_ENV
